<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDW5C6k8wX-M8AyR7jSr7L39P7sBYdNv6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>914438975234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newFirebaseProject</string>
	<key>PROJECT_ID</key>
	<string>learn-53a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-53a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914438975234:ios:88762da2d99e9970265c1b</string>
</dict>
</plist>